body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    width:auto;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sign-up {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
    font-weight: bolder;

}
.container {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.image-section {
    flex: 0.9;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.form-section {
    flex: 1;
    padding: 20px;
    background-color: #ffcccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.form-section h1 {
    margin-bottom: 20px;
    
   
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    font-weight: bolder;

   
}

.form-block{
    border-radius: 20px;
    width: 360px;
    height: fit-content;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff6666;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4d4d;
}

p {
    margin-top: 20px;
    color: rgb(47, 0, 255);
}

p a {
    color: rgb(54, 10, 10);
}
