.welcome-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Set your desired background color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.get-started-button {
  font-size: 1.5em;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #0056b3;
}

.get-started-button:focus {
  box-shadow: 0 0 5px #007bff;
}

@media (max-width: 768px) {
  .welcome-container {
    padding: 10px;
  }
  .get-started-button {
    padding: 10px 20px;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it is above other elements */
}

#loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  animation: spin 2s linear infinite;
}

#loader:before,
#loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
}

#loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #BA55D3;
  animation: spin 3s linear infinite;
}

#loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #FF00FF;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
